
.header {
  height: 132px;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-top {
  color: #22202E;
  font-size: 24px;
  word-spacing: -5px;
  font-family: var(--font-roboto-mono);
  border-bottom: 1px solid #e1e1e1;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 48px;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #726E8D;
  font-weight: 400;
  margin-bottom: 8px;
}