.styles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 64px;
  color: #2A254B;
  margin-bottom: 64px;
}

.styles-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 64px;
}

.styles-h1 {
  font-weight: 350;
  margin-right: 1348px;
  font-size: 32px;
}

.styles-element-p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 16px;
}